@media screen and (max-width: 1400px){
    #hero{
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 90%;
    }
    #desktop-nav{
        display: none;
    }
    #burger-nav{
        display: flex;
    }
    #skills, .grid-3{
        margin-top: 2rem;
    }
    #hero{
        grid-template-columns: 1fr;
        height: fit-content;
        display: block;
    }
    .hero-right{
        margin-top: 2rem;
    }
    section{
        margin: 0 5%;
    }

    .hero-left{
        text-align: center;
        /* display: flex; */
        
    }

    .hero-left .pre-title{
        margin: 0 auto;
    }
    .btn-container{
        align-items: center;
        justify-content: center;
    }

    #about{
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        display: block;
    }

    .text-container .desc-container{
        text-align: center;
    }
    #contact{
        padding: 4rem 0 0 0;
    }

    .social-container{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
    }
}